# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcactivitylog
*.xcdebugger
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Archives and packages
*.zip
*.tar.gz
*.tgz

# App bundles and symbols
*.app
*.dSYM

# Swift / SwiftPM / CocoaPods / Carthage
.packages
Packages/
Carthage/
Pods/

# Editor
.idea/
.vscode/
*.swp

# Temp
build/
